.main {
}

.main-header {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
}
.main-header h2 {
    font-size: 20px;
    margin-bottom: 30px;
}
.bold {
    font-weight: 600;
}

.add-education {
    background-color: lightgray;
    border: none;
    border-radius: 2px;
    width: 200px;
    height: 40px;
    font-size: 14px;
}
.add-education:hover {
    cursor: pointer;
    filter: brightness(90%);
}
.add-education:focus {
    outline: none;
}

.main-body {
    padding: 20px 50px;
    display: flex;
    min-height: 50vh;
}

.main-aside {
    width: 20%;
    margin-right: 5%;
    height: inherit;
    background-color: lightgray;
}
.main-aside-info {
    padding: 30px 20px;
    height: inherit;
}
.edu-li {
    font-weight: 600;
    margin-bottom: 20px;
}

.main-section {
    width: 60%;
}