.ReactModal__Overlay {
    /* filter: brightness(40%); */
}

/* .ReactModal__Content {
    z-index: 10;
    filter: brightness(150%);
} */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    padding: 40px;
    /* box-sizing: border-box; */
}

.modal-head {
    font-weight: 600;
    margin-bottom: 2vh;
}

.modal-form {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    overflow: scroll;
}

.modal-label {
    
}

.modal-input {
    margin-bottom: 1vh;
}

.modal-submit {
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: lightgray;
    border: none;
    border-radius: 2px;
    font-size: 15px;
}
.modal-submit:hover {
    cursor: pointer;
    filter: brightness(80%);
}