.ReactModal__Overlay {
    /* filter: brightness(40%); */
}

/* .ReactModal__Content {
    z-index: 10;
    filter: brightness(150%);
} */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    padding: 40px 60px;
    /* box-sizing: border-box; */
}

.modal-head {
    font-weight: 600;
    margin-bottom: 20px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.modal-label {
    margin-bottom: 2px;
    font-size: 14px;
}

.modal-input {
    margin-bottom: 1vh;
    outline: none;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 4px 6px;
    font-family: sans-serif; 
}
.modal-input:focus {
    border: 1px solid darkgray;
}

.modal-submit {
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 40px;
    right: 60px;
    background-color: lightgray;
    border: none;
    border-radius: 2px;
    font-size: 15px;
}
.modal-submit:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.suggestions-hidden {
    display: none;
}

.suggestions-show {
    display: block;
    border: 1px solid lightgray;
    width: 65%;
    position: fixed;
    top: 117px;
    left: 60px;
    background-color: rgb(247, 247, 247);
    padding: 2px 5px;
    font-size: 13px;
}

.suggestion-li {
    border-bottom: 1px solid rgb(218, 218, 218);
    background-color: rgb(247, 247, 247);
    margin-bottom: 2px;
    padding: 2px;
    border-radius: 2px;
}
.suggestion-li:hover {
    cursor: pointer;
    background-color: white;
}