.edu-info-card {
    background-color: lightgray;
    margin-bottom: 15px;
    padding: 30px;
    min-height: 20vh;
}

.edu-card-title {
    font-weight: 600;
    margin-bottom: 20px;
}

.edu-details {
    margin-bottom: 20px;
}